header, main, footer{
    max-width: 1300px;
    margin: 0 auto;
    font-family: 'Lato', 'Times New Roman', Times, serif;
    
}


#hamButton {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	width: fit-content;
	font-size: 1.5rem;
	padding: .5rem;
    margin-bottom: 1rem;
	color: black;
}

nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav ul {
    list-style-type: none;
    display: none;
	flex-direction: column;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: .8rem 2vw;
    text-decoration: none;
    color: black;
    font: 'Lato';
}

nav ul.open {
    display: block;
}

nav ul li a:hover {
    background-color: #eec03a;
    border: 1px solid #eec03a;
    box-shadow: 5px 5px 10px #caa431;
    border-radius: 25px;
}

.responsive li {
	display: block;
	width: 100%;
}

.mainnav.responsive li a {
	display: block;
}

/* ----- Homepage ------ */

.make-drinks {
    position: absolute;
    top: 250px;
    right: 75px;
    width: 300px;
    height: 200px;

    background-color: white;
    border: 5px solid #f6958b;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.make-drinks img {
    width: 50%;
    height: auto;
}


.orderNow {
    text-align: center;
    display: block;
    background: #f6958b;
    border: 1px solid #f6958b;
    border-radius: 25px;
    padding: 2px 5px 2px 5px;
}

.orderNow a {
    text-decoration: none;
    color: black;
}

.orderNow:hover {
    background-color: #63ab45;
    border: 1px solid #63ab45;
    box-shadow: 5px 5px 10px #508837;
}

/* .card {
    border: 1px solid black;
} */

.cards {
    display: grid;
}

.card {
    padding: 20px;
}

.num-of-drinks {
    text-align: center;
    justify-content: center;
    letter-spacing: 2px;
    word-spacing: 8px;
    background-color: #eec03a;
    border: 1px solid #eec03a;
    border-radius: 25px;
    box-shadow: 10px 10px 15px #caa431;
}

.visit {
    text-decoration: underline;
}

.weather {
    text-align: center;
}

.contact-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.contact-info img {
    width: 100px;
    height: auto;
}

.contact-info p {
    padding: 0 10px 0 10px;
}

.days {
    padding: 0 50px 0 50px;
}

.location-info {
    text-align: center;
}

.location-info p {
    border-left: 5px solid #63ab45;
    padding-left: 5px;
}

/* ------ Fresh Page ------ */

.fresh-main h2, .about-main h2 {
    text-align: center;
    position: absolute;

    border: 1px solid #eec03a;
    border-radius: 25px;
    background-color: #eec03a;
    padding: 10px;
}

.fresh-main h2 {
    top: 300px;
}



/* -----Form ----- */
form fieldset {
    margin: 2rem;
    border: 1px solid #f6958b;
    border-radius: 10px;
    padding: .5rem 20%;
}

form legend {
    color: black;
    margin: 1rem 1rem;
    padding: 0 .5rem;
}

 form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
 }

 form label.top input, form label.top select {
    -webkit-appearance: none ;
    display: block;
    font-size: 16px;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgb(0,0,0,0.1);
 }

 form label.sbs {
    display: block;
    padding: 0.75rem 0;
    color: #555;
}

form input.submitButton {
    border: none;
    background-color: #eec03a;
    color: black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem; 
}

form input.submitButton:hover {
    background-color: #63ab45;
    box-shadow: 5px 5px 10px #508837;
    color: white;

}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border: green solid 6px;
}

/* ------ About Us ------ */

.about-main h2 {
    top: 350px;
    right: 115px;
    padding: 10px 70px 10px 70px;
}

.about-main {
    display: flex;
    flex-direction: column;
}

.about-cards {
    margin: 5px;
    padding: 5px;
    border-left: 5px solid;
}

.about-cards h3 {
    text-decoration: underline;
}

.about-cards p {
    line-height: 30px;
}

.mission {
    border-color: #eec03a;
}

.history {
    border-color: #f6958b;
}

.farms {
    border-color: #63ab45;
}

.careers {
    border-color: #eec03a;
}

/* ---- Thank you Page----- */

.thankyou-main {
    text-align: center;
}

/* ------ Footer ------ */

footer {
    text-align: center;
    color: white;
    background-color: #63ab45;
    border: 1px solid #63ab45;
    border-radius: 25px 25px 0 0 ;

    display: grid;
}

.footer-elmnt {
    padding: 10px;
}

.footer-contact a {
    color: white;
}

.address {
    color: white;
}


