* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

header, main, footer{
    max-width: 700px;
    margin: 0 auto;
}

header, footer{
    margin: 1rem auto;
    border: 1px solid rgb(103, 101, 187);
    border-radius: 25px;
    background-color: rgb(103, 101, 187);
    color: white;
    padding: 0.5rem;
}

h1 {
    color:white;
    padding: 5px;
}

p, h3 {
    padding: 10px;
}