@media only screen and (min-width: 800px) {
    
    .logo img {
        width: 135px;
        height: auto;
    }
    
    h1 {
        font-size: 16pt;
        text-align: center;
    }

    .social_media a img {
        width: 50px;
        height: auto;
    }

    .hero_cta {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .new_release {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    .spotlights {
        grid-column: 1/4;
        grid-row: 3/4;
    }

    .join {
        grid-column: 1/4;
        grid-row: 4/5;
    }

    .event {
        grid-column: 1/3;
        grid-row: 5/6;
    }

    .weather {
        grid-column: 3/4;
        grid-row: 5/6;
    }

    footer {
        display: grid;
    }

    .footer_logo {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .footer_logo img {
        width: 115px;
        height: auto;
    }

    .address {
        grid-column: 2/4;
        grid-row: 1/2;
    }

    .contact_map {
        grid-column: 4/5;
        grid-row: 1/2;

    }

    .copyright {
        grid-column: 1/5;
        grid-row: 2/3;

        border-top: solid 1px #ccd5ae;
    }

    /* Discover Page */

    .discover_cards picture img:hover {
        box-shadow: 0 0 50px #606c38;
    }


    /* Join Page */
    
    .directory_cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    
    .directory_cards>* {
        border: 1px solid #606c38;
        background-color: #ccd5ae;
        flex: 0 1 50px;
        margin: 10px;

    }

    /* Contact Page */

    .contact_main {
        display: grid;
    }

    contact_main h2 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .contact_form {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .contact_info {
        grid-row: 3/4;
        grid-column: 1/2;
    }


}